.navbar {
  background: black;
  height: 175px;
  position: fixed;
  top: 0;
  width: 100%;
  color: rgb(180, 175, 175);
  box-shadow: 0px 3px 3px rgb(27, 26, 26);
  font-size: 40px;
  z-index: 100;
  white-space: nowrap;
}



.navbar li {
  display: inline-block;
  padding: 50px 26px;
  width: 33.3%;
  text-align: center;

}

.logo {
  width: 175px;
  position: fixed;
  top: 35px;
  left: 40px;
}


