.click-item {
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 170px;
  margin: 8px 25px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.click-item:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}

